<br><br>
<h2 class='welcome'>Need an outside opinion? Look no further than Wise Replies.<br><br>
  Users will be able to post an issue after creating an account.<br><br>
  Issues will remain open until 10 replies are received, then will be removed from the "All Posts" page.<br><br>
  The original poster can review all replies, delete the post, then post another issue. </h2>
