<br>
<h2>Welcome to Wise Replies!</h2>
<h3>Looking to settle an argument or need an outside opinion? Look no further than Pick A Side.<br>
  The app that lets users post an issue and gather up to 10 opinions on that issue. <h3>
