<br>
<% if @post.empty? === false %>
  <% @post.each do |post| %>
    <% unless post.replies.length >= 10 %>
      <div>
        <h2><%= post.title %></h2>
        <%= post.subject %><br>

        <% if current_user.id != post.user_id %>
          <form action='/newreply'>
              <button type="submit" title="<%= post.title %>" name='post' value="<%= post.id %>">Reply</button><br>
          </form>
        <% end %>
      </div><br><br>
    <% end %>
  <% end %>
<% else %>
  <h3> No new posts </h3>
<% end %>
