<div class='nav'>
  <a href="/">Home</a>
  <% if current_user %>
    <%= link_to "Logout", '/logout' %>
    <a href="/all">All Posts</a>
      <% if current_user.posts.length != 0 %>
        <a href="/usershow">Your Post</a>
      <% else %>
        <a href="/newpost">New Post</a>
    <% end %>
  <% else %>
    <a href="/signup">Signup</a>
    <a href="/login">Login</a>
  <% end %>
</div>
